@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-6">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner h-100">
                    <div class="carousel-item h-100 active">
                        <img src="/Images/carouselImages/NIC Logo.png" class="d-block w-100 h-100" alt="Examination">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>Instant Solutions for <span class="text-success fst-italic">Technical Issues</span>.</h2>
            </div>

            <div class="m-3 p-3">
                <span><i class="fa-solid fa-clipboard-question text-success mx-2"></i></span>
                <span class="fs-5 text-dark">Examination related Queries.</span>
            </div>

            <div class="m-3 p-3">
                <span><i class="fa-solid fa-clipboard-question text-success mx-2"></i></span>
                <span class="fs-5 text-dark">Counselling related Queries.</span>
            </div>

            <div class="m-3 p-3">
                <span><i class="fa-solid fa-clipboard-question text-success mx-2"></i></span>
                <span class="fs-5 text-dark">Admission Process Related FAQs. </span>
            </div>

            <div class="m-3 p-3">
                <span class="fs-5 text-dark"><strong>Government of India organisation.</strong></span>
                <p class="py-2"><i>Ministry of Electronics and Information Technology(MEITY).</i></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <h2 class="text-dark fst-italic italic">E-Counselling Division</h2>
        </div>
    </div>
</div>
