
<ul class="list-group-flush px-0 vh-100 overflow-auto position-sticky" id="exam-list">
                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Form Filling & Registration.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Document Upload.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Document Discrepancy generation, removal & approval.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Online Fee Payment.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Confirmation Page generation.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Form Correction.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">eAdmit Card.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Answer Key Challenge.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Recorded Response Challenge.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">eScore Card/eRank Card. </a>
                    </li>

                </ul>