
<ul class="list-group-flush px-0 vh-100 overflow-auto position-sticky" id="counselling-list">
                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Online Seat Matrix & Institution Profile.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Registration for Counselling.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Online Fee Payment</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Choice Filling</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Mock Seat Allocation</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Multi-round Seat Allocation.
                        </a>
                    </li>
                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Online Document Verification.
                        </a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">e-Allotment Letter.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">e-Admission Letter.</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Seat Withdrawal</a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Seat Upgradation. </a>
                    </li>

                    <li class="exam-item list-group-item">
                        <a class="text-decoration-none text-pink" href="https://admissions.nic.in/admiss/admissions/Home">Institute Admission. </a>
                    </li>

                </ul>